*.*
*
!*/
!/nemu/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/npc/**/*
!abstract-machine/
!abstract-machine_mini/
npc/obj_dir
!Makefile
!README.md
!.gitignore
!init.sh
/fceux-am
/nvboard
/am-kernels
