mainmenu "NPC Configuration"

choice
    prompt "Architecture Selection"
    default PIPELINE_CHISEL

config PIPELINE_CHISEL
    bool "Enable Pipeline Chisel implementation"

endchoice


if PIPELINE_CHISEL
    choice
        prompt "Pipeline Chisel Run Mode"
        default PIPELINE_CHISEL_SOC

        config PIPELINE_CHISEL_SOC
            bool "SOC Mode"

        config PIPELINE_CHISEL_NPC
            bool "NPC Mode"
    endchoice
endif


config BATCH_MODE
    bool "Enable Batch Execution (Disable Stepping)"
    default n

config DIFFTEST
    bool "Enable difftest"
    default n

config WAVEFORM
    bool "Enable waveform recording"
    default n

config NVBOARD
    bool "Enable NVBoard"
    default n

config ITRACE
    bool "Enable instruction tracing"
    default n
    help
      Enable real-time tracing of executed instructions.

config TRACE_DIFF
    bool "Enable Trace Diff"
    default n
    help
      Enable trace difference comparison for debugging.



config MTRACE
    bool "Enable memory tracing"
    default n

# 设备支持配置
config DEVICE
    tristate "Enable device support"
    default y
    
