mainmenu "NPC Configuration"

choice
    prompt "Architecture Selection"
    default MUL_SOC

config MUL_SOC
    bool "Enable mul_soc implementation (Default)"

config CHISEL_MUL
    bool "Enable Chisel riscv32_mul implementation"

config CHISEL_RISCV32E
    bool "Enable Chisel riscv32e implementation"

config MUL
    bool "Enable riscv32_mul implementation"

config SINGLE
    bool "Enable riscv32e_vsrc implementation"

config MINIRV
    bool "Enable Mini-RV32I"

endchoice

config BATCH_MODE
    bool "Enable Batch Execution (Disable Stepping)"
    default n

config DIFFTEST
    bool "Enable difftest"
    default n

config WAVEFORM
    bool "Enable waveform recording"
    default n

config NVBOARD
    bool "Enable NVBoard"
    default n

config ITRACE
    bool "Enable instruction tracing"
    default n
    help
      Enable real-time tracing of executed instructions.



config MTRACE
    bool "Enable memory tracing"
    default n

# 设备支持配置
config DEVICE
    tristate "Enable device support"
    default y
    
